header {
	background-size: 100% 100%;
	background-color: white
}

.jumbotron {
  background-image: url("https://i.pinimg.com/originals/bd/83/2d/bd832d3455192df2488738dcca5e02fd.png");
  background-size: cover;
}

h1 {
	font-size: 75px;
	letter-spacing: 5px;
}

.header-text {
	font-size: 25px;
}

#userInput {
	width: 300px;
	font-size: 13px;
	padding: 0px 10px;
}

.fav-input {
	margin-top: 30px;
}

.btn {
	margin: 0;
	height: 30px;
	font-size: 13px;
	padding-top: 6px;
}

.btn-outline-secondary {
	margin: 5px;
}

.gifDiv {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

